* {
  box-sizing: border-box;
}

body {
  margin: 20% 20%;
  max-height: 100vh;
}

#messages {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

form {
  display: flex;
  padding: 10px;
}

form input {
  width: 100%;
  padding: 25px;
}

form button {
  padding: 20px;
  width: 200px;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
